html,
body {
	background-color: #232323;
	font-family: Calibri, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
h1,
h2 {
	text-align: center;
}
h1 + div {
	position: relative;
	text-align: center;
	padding-bottom: 15%;
	max-width: 600px;
	margin: 5% auto;
	background-color: #232323;
	border-radius: 1rem;
	box-shadow: 0px 0 15px #111;
	/* box-shadow: 0px 0 15px #0a0a0a; */
}
form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
input {
	border-radius: 1.5rem;
	outline: none;
	border: none;
	width: 100%;
}
input::placeholder {
	opacity: 0.6;
	text-align: center;
}
input[type="text"]:focus {
	border: 2px solid #912cee;
}
input[type="text"] {
	font-size: 1rem;
	transition: padding 0.6s;
	text-align: center;
	margin-bottom: 10px;
	padding: 20px;
	height: 30px;
}
input[type="submit"] {
	cursor: pointer;
	color: #fff;
	font-weight: 600;
	padding: 6px;
	background-color: #912cee;
	/* box-shadow: 0 5px 5px #707070; */
}
input[type="submit"]:active {
	padding: 6px;
	/* margin-top: 5px; */
	/* box-shadow: 0 0px 0px #232323; */
}
ul {
	position: relative;
	top: 50px;
	margin: 10px;
	padding: 0;
}
li {
	line-height: 2rem;
	border-radius: 15px;
	height: 30px;
	color: #000;
	list-style: none;
	background-color: #fff;
}
img {
	margin-bottom: 15px;
}
p {
	/* position: relative;
	bottom: 0; */
	font-size: 15px;
	text-align: center;
}
