* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background: url(https://images.unsplash.com/photo-1513708929605-6dd0e1b081bd?ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80);
	background: #007bff;
 	background: linear-gradient(to right, #0062E6, #33AEFF);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;*/
    background: #333;
    height: 100vh;
    font-family: 'Nunito', sans-serif;
    /*overflow-x: hidden;*/
    user-select: none;
}
.navbar {
    transition: 0.6s;
}
.navbar-brand, .logo {
    background-image: url(Images/logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 70px;
    height: 70px;
}

    .navbar-brand::before {
        content: "Sabne & Associates";
        margin-left: -220px;
        line-height: 4rem;
        text-transform: uppercase;
    }

.dropdown-menu {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 400px;
}

.dropdown-item:hover {
    border-left: 5px solid darkblue;
    color: rgba(0,0,0,0.5);
    font-weight: 500;
    background: #F4EFF6;
}

.jumbotron {
	/*background: rgba(0,0,0,0.2);*/
    /*height: 100%;*/
    margin-top: 70px;
    /*background-image: linear-gradient(0deg, #eee, #aaa);*/
    /*box-shadow: 0px -5px 10px #000/*, 0px 10px 10px #000*/;
    */
}

.image {
    background-image: url(Images/home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.title {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
}

.wrapper {
    background-color: #e9ecef;
}

.points {
    display: none;
    background: #fff;
    margin: auto;
    width: 80%;
    box-shadow: -8px 8px 8px #808090;
}

.list-group-item {
    background-image: linear-gradient(15deg, #eee, #aaa);
    border: 0;
}

    .list-group-item:hover {
        border-left: 10px solid blue;
        border-right: 10px solid blue;
        background: #222;
        color: #fff;
        /*text-transform: uppercase;*/
    }

.jtoggle {
    cursor: pointer;
    background: #4a4b46;
    /*background: darkgray;*/
    color: white;
    text-align: center;
    border-radius: 3px;
    width: 100%;
    letter-spacing: 0.1rem;
    box-shadow: 0 8px 8px #808090;
    /*box-shadow: 0 8px 8px #707070;*/
}

.modal-body {
    background-image: url(Images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 55px;
    height: 55px;
}

hr {
    margin: 0.3rem;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

p, .disclaimer {
    line-height: 1.5rem;
    text-indent: 2rem;
}

.opacity {
    background: rgba(0, 0, 0, 0.5);
}

.contactUs, .followUs {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    /*	width: 40%;*/
    /*margin: auto;*/
    /*border-left: 4px solid #fff !important;*/
    /*border-radius: 50%;*/
}

    .contactUs:hover, .followUs:hover {
        color: #bbb !important;
    }

i {
    font-size: 1.8rem;
}

    i:hover {
        color: #fff !important;
        transition: 0.5s;
    }

.slash {
    color: #fff;
}

.num:hover {
    color: #33AEFF;
    text-decoration: underline;
}

.address {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    display: inline-block;
    height: 20px;
    font-size: 1rem;
    margin-left: 10px;
    animation-name: border;
}

    .address:hover {
        /*border-top: 1px solid #bbb;
		border-radius: 1rem;
		padding: 5px 5px 0 5px;*/
        color: #fff !important;
        transition: 0.5s;
    }

#sticky-footer {
    background: #222;
    box-shadow: 0 -4px 8px #000;
}

button[data-toggle="modal"] {
    display: none;
}

.navbar.scrolled {
    /*background: #343a60 !important;*/
    /*background: #606060 !important;*/
    transition: 0.6s;
    border-radius: 0.4rem;
    /*box-shadow: 0 3px 3px #000,0 -3px 3px #000,3px 0 3px #000,-3px 0 3px #000;*/
    margin: 1rem;
}

a#navbarDropdown:hover {
    border: 1px solid #D79F43 !important;
    transition: 0.6s;
}

.scroll::-webkit-scrollbar {
    width: 6px;
    border-radius: 4px;
    background-color: #eee;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #999;
}

.scroll::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #ccc;
}

::-webkit-scrollbar {
    width: 10px;
    /*border-radius: 4px;*/
    background-color: #eee;
}

::-webkit-scrollbar-thumb {
    /*border-radius: 4px;*/
    background-color: #999;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #ccc;
}

@media screen and (max-width: 450px) {
    a.navbar-brand::before {
        content: "";
        margin-left: 0px;
        line-height: 0rem;
        text-transform: uppercase;
    }
    .list-group-item:hover {
        border-left: 5px solid blue;
        border-right: 5px solid blue;
    }
    .points {
    	width: 90%;
    	padding: 0;
	}
}
@media screen and (max-width: 400px) {
    div a {
        font-size: 0.85rem !important;
        padding: 3px !important;
    }
    .dropdown-item:hover{
    	border-left: 2px solid darkblue;
    }
    nav.navbar a.nav-link {
        padding: 0.5rem 0 !important;
    }
}
@media screen and (max-width: 767px) {
    nav.navbar a.nav-link {
        padding: 0.5rem 0;
        margin-top: 0 !important;
        border-radius: 0 !important;
    }
    .navbar-brand, .logo {
	    width: 60px;
	    height: 60px;
	    margin-top: 5px; 
	    margin-bottom: 5px; 
	}
	.navbar-brand::before {
        line-height: 3.5rem;
    }
}
@media screen and (max-width: 600px) {
    .lead {
        transition: 0.6s;
        font-size: 1rem;
    }

    .display-4 {
        transition: 0.6s;
        font-size: 2rem;
    }

    .display-5 {
        transition: 0.6s;
        font-size: 1.3rem;
    }

    .display-6 {
        transition: 0.6s;
        font-size: 1.3rem;
    }
}