/** {	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #232323;
}*/
body {
	font-family: "consolas","cambria";	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #232323;
}
h1{
	line-height: 1.1;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	color: white;
	margin: 0;
	padding: 20px;
	height: 50%;
	background-color: steelblue;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;

}
.display{
	font-size: 200%;
	transition: font-size 0.6s;
	-webkit-transition: font-size 0.6s;
	-moz-transition: font-size 0.6s;
}
.wrapper{
	max-width: 600px;
	margin: 20px auto;
}
.square {
	border-radius: 15%;
	background-color: pink;
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;
}
.features {
	background-color: #fff;
	height: 2rem;
	text-align: center;
	margin: 0;
}
.guess{
	display: inline-block;
	width: 20%;
}
button{
	border: none;
	height: 100%;
	color: steelblue;
	font-weight: 700;
	font-size: inherit;
	text-transform: uppercase;
	background-color: white;
	transition: all 0.6s;
	outline: none;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
}
button:hover{
	background-color: steelblue;
	color: white;
}
.wrongGuess {
	background-color: #232323 !important;
}
.currentMode{
	background-color: steelblue;
	color: white;
}
@media (max-width: 700px){
	span.display{
		width: 100%;
		font-size: 140%;
	}
}