.renderjson {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
  padding-bottom: 2rem;
  margin: 0 2rem;
}

.renderjson a {
  text-decoration: none;
}

.renderjson .disclosure {
  color: #a0a0a0;
}

.renderjson .syntax {
  color: grey;
  font-weight: 600;
}

.renderjson .string {
  color: #00ad83;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.renderjson .number {
  color: #007fff;
}

.renderjson .boolean {
  color: plum;
}

.renderjson .key {
  color: #e30b5c;
}

.renderjson .keyword {
  color: #808080;
}

.renderjson .object.syntax {
  color: #ff7518;
}

.renderjson .array.syntax {
  color: #000;
}

.renderjson > span > .object:first-child {
  font-size: 6rem;
}
